* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 60px;
    vertical-align: middle;
    margin-left: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0C2D57;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.name_logo {
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
}

.header_margin {
    margin-top: 15px;
    margin-left: 15px;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
}

main {
    flex: 1;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
}

.unread {
    background-color: #FFBB64;
    border-radius: 100%;
    padding: 5px;
    font-weight: 700;
}

.welcome_margin {
    margin-bottom: 10px;
}

.margin_header {
    margin-bottom: 25px;
}

.sender_header {
    display: inline-block;
    margin-right: 25px;
    font-weight: 600;
    width: 100px;
    margin-bottom: 10px;
}

.object_header {
    display: inline-block;
    font-weight: 600;
    width: 200px;
    margin-bottom: 10px;
}

.message_header {
    display: inline-block;
    margin-right: 25px;
    font-weight: 600;
    width: 500px;
    margin-bottom: 10px;
}

.read_header  {
    display: inline-block;
    margin-right: 25px;
    font-weight: 600;
    width: 150px;
    margin-bottom: 10px;
}

.email_font {
    font-weight: 400;
    border: 1 solid black;
}

.black_header {
    color: black;
}

.background_header {
    background-color: white;
    padding: 10px;
}

a {
    text-align: center;
    color: white;
    font-weight: 900;
}

footer {
    text-align: center;
    background-color: white;
    color: #0C2D57;
    padding: 15px;
}